body {
	font-family: 'Roboto', sans-serif;
	margin: 0px;
	background-color: #f0f2f5; 
	font-size: 16px;
}

nav {
	padding: 20px;
}


a {
	color: white;
	text-decoration: none;
	display: block;
	float: right;
	padding: 10px;
	border: 1px solid transparent;
}

a:hover {
	border: 1px solid white;
}

#logo {
	width: 250px;
	float: left;
	padding-top: 25px;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}



header {
	background: url(../images/GoodOrderHeader.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 500px;
	color: white;
	padding-left: 50px;
	text-shadow: 2px 2px rgba(0,0,0,.5);
}

#header_text {
	width: 960px;
	margin: 0 auto;
	font-weight: 300;
}

h1 {
	color: white;
	font-size: 3em;
	padding-top: 50px;
	padding-bottom: -20px;
}

h2 {
	color: #2a90d4;
	font-size: 1.5em;
}

p {
	color: gray;
	font-size: 1.2em;
	font-weight: 300;
}

#headertext {
	font-size: 1.5em;
}


#row1 {
	background-color: #ffffff; 
}

#row2 {
	background-color: #f0f2f5;
}

section {
	width: 960px;
	margin: 0 auto;
}

article {
	width: 44%;
	padding: 0 3%;
	float: left;
}

aside {
	width: 44%;
	padding: 0 3%;
	float: left;
}

footer {
	text-align: center;
	color: white;
	background-color: #242424;
	height: 50px;
	padding-top: 30px;
	clear: both;
}

#two-column {
	padding: 20px;
}


#image1 {
	width: 100%;
}

#border {
	margin: 0;
	border-bottom: 1px solid gray;
}